.button{
    border: none;
    border-radius: 18px;
    cursor: pointer;
    display: flex;
    gap: 10px;
    font-size: 18px;
    font-weight: 600;
    padding: 25px 50px;
    transition: background-color 0.3s ease;
}

/* PRIMARY */
.button.primary{
    color: white;
    background-color:#0C70F2 ;
    
    &:hover{
        background-color: #548bd4;
    }
}
/* SECONDARY */
.button.secondary{
    color: white;
    background-color:#1D1D1D ;

    &:hover{
        background-color: #4D5053 ;
    }
}
/* OUTLINE */
.button.outline{
    color: #0C70F2;
    background-color:white ;
    border: #0C70F2 solid 1px;

    &:hover{
        background-color: #0C70F2 ;
        color: white;
    }
}
/* DISABLE */
.button:disabled, .button:disabled>:hover{
    color: #666666;
    background-color:#CCCCCC ;
    pointer-events: none;
}

/* UNSTYLED */
.button.unstyled {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
}

